@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,500');

html, body{
      height: 100%;
}

body{
      background: linear-gradient(45deg, #FE6B8B 30%, #FF8E53 90%);
      font-family: 'Ubuntu', sans-serif;
      display: flex;
      align-items: center;
      justify-content: center;
}

*{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
}

::selection{
      background: #ffffff3f;
}

h1{
      font-size: 80px;
      color: #fff;
}

.content{
      width: 50vw;
      height: 50vh;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
}

.settings{
      display: flex;
      justify-content: space-evenly;
}

.btn{
      background: #ffffff77;
      color: #222;
      padding: 1rem 2rem;
      text-decoration: none;
      border-radius: 7px;
      border: 0;
      font-size: 19px;
      cursor: pointer;
      transition: background 200ms;
}

.btn:hover{
      background: #ffffff9d;
}

.btn:disabled{
      color: #ffffff77;
      background: #ffffff3a;
}

button{
      width: 180px;
}

.btn:focus{
      outline: 0;
      background: #eee;
}

button::after{
      content: '▼';
      position: absolute;
      right: 8px;
      color: #fff;
}

.select{
      position: relative;
}

.select label{
      position: absolute;
      top: -23px;
      color: #fff;
      font-weight: 500;
}

.dropdown{
      list-style-type: none;
      position: absolute;
      width: 100%;
      animation: dropdown 200ms ease-in-out;
}

.dropdown li{
      margin: 0.3rem 0;
}

.game-header{
      display: flex;
      font-size: 1.3rem;
      color: #fff;
      justify-content: space-between;
}

@keyframes dropdown {
      0%{
            opacity: 0;
            transform: translateY(-100px);
      }
      50%{
            transform: translateY(0);
      }
      55%{
            transform: translateY(5px);
      }
      100% {
            opacity: 1;
            transform: translateY(0);
      }
}

@media(max-width: 1310px){
      h1{
            font-size: 50px;
      }
      .content{
            width: 75vw;
      }
      .settings{
            flex-direction: column;
            height: 60vh;
      }
      .btn {
            width: 100%;
      }
      .dropdown{
            width: 75vw;
            padding: 1rem;
            z-index: 2;
            background: #eee;
            border-radius: 7px;
      }
      .dropdown li{
            background: #fff;
      }
}
